@charset "utf-8";

$primary: #233f56;

$footer-background-color: hsl(0, 0%, 21%);
$link: #ffffff;

@import '$lib/bulma/bulma.sass';

.gweb-site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.gweb-container {
	flex: 1;
	min-height: calc(100vh - 15px - 100px);
}

// Content

.gweb-text-layout {
	padding: 1rem;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
}

.gweb-text-layout h1::before {
	content: '// ';
    font-weight: bold;
    font-weight: 700;
}

.gweb-text-layout h1 {
	margin-top: 0.5em;
}

.gweb-text-layout h2::before {
	content: '/ ';
    font-weight: bold;
    font-weight: 700;
}

.gweb-text-layout h2 {
	font-size: 1.5em;
}

.content p {
	font-size: 20px;
}

.gweb-banner {
	min-height: unset;
	height: 15px;
	background-color: #363636
}

.gweb-footer {
	height: 100px;
	background-color: $footer-background-color;
}

@media (min-width: 1000px) {
	.footer-sticky {
		width: 100%;
		bottom: 0;
		overflow:hidden;
	}
}

.footer-text {
	color: white;
	font-size: 15px;
}

.gweb-link-white {
	:link {
		color: #ffffff;
		text-decoration: underline;
	}
	:hover {
		color: #ffffff;
		text-decoration-color: gray;
		text-decoration-style:wavy;
	}
}

.gweb-link-black {
	:any-link {
		color: #000000;
		text-decoration: underline;
	}
	:hover {
		color: #000000;
		text-decoration-color: grey;
		text-decoration-style:wavy;
	}
}

.gweb-link-grey {
	:any-link {
		color: hsl(0deg, 0%, 21%);
		text-decoration: underline;
	}
	:hover {
		color: hsl(0deg, 0%, 21%);
		text-decoration-color: grey;
		text-decoration-style:wavy;
	}
}